#header {
  font-family: "Oswald", sans-serif;

  background: url("/aurora.jpg");
  background-size: cover;

  color: #ffffff;
}

#header #inner {
  background: #0088af;
  padding: 1rem;
  display: flex;
  align-items: center;
}

#header h1 {
  margin: 0;
  flex-grow: 1;
}

#header h1 a {
  color: #ffffff;
  text-decoration: none;
}

#header a {
  color: #ffffff;
  text-decoration: none;
}
