#header {
  font-family: "Oswald", sans-serif;
  /*
  background: url("/coffee.jpg");
  background-size: cover;
  */
  color: #ffffff;
}

#header #inner {
  background: #0088af;
  padding: 1rem;
}

#header h1 {
  margin: 0;
}
